@import "macchiato.css";
* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#window,
#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  padding: 0px 10px;
}

#window {
  padding: 0px 25px
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @green;
}

#workspaces button:hover {
  color: @sapphire;
}

#cpu,
#custom-notification,
#memory,
#network,
#power-profiles-daemon,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#cpu {
  border-radius: 1rem 0rem 0rem 1rem;
}

#memory {
  border-radius: 0rem 1rem 1rem 0rem;
}

#custom-notification {
  border-radius: 1rem 1rem 1rem 1rem;
}

#clock {
  color: @blue;
  border-radius: 0px 0rem 0rem 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#power-profiles-daemon {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#network {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
